#h1-id-username {
    z-index: 5;
    position: absolute;
}

#field-clock {
    z-index: 4;
    position: absolute;
}

#canvas-mini {
    background-color: teal;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;

}

#canvas-right {
    background-color: teal;
    z-index: 2;
    position: absolute;
    top: 0px;
    /*left: 1006px;*/
}

#canvas-main {
    background-color: teal;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}